# Global
.*.swp
.DS_Store

# Application
src/*
!/src/example
data/
etc/projects/*
!etc/projects/*.template
etc/nginx/conf.d/*.conf
etc/nginx/domains.yaml
.env

# PHPStorm
.idea

# Netbeans
nbproject/

# VSCode
.vscode/

# Certificates
ssh/id_rsa
ssh/known_hosts
